<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Trabalho 2 - Laboratório de Programação VI</title>
  </head>
  <body>
    <div id="center">
      <a href="../cadastrar-jogador" class="button">Cadastrar jogador</a>
      <a href="../agendar-partida" class="button">Agendar partida</a>
    </div>
  </body>
</html>
