<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Trabalho 2 - Laboratório de Programação VI</title>
  </head>
  <body>
    <h1>Cadastrar Jogador</h1>
    <form method="POST" action="/players" id="center">
      <label>
        Nome:
          <input type="text" name="firstname" required/>
      </label><br/><br/>
      <label>
        Sobrenome:
          <input type="text" name="lastname" required/>
      </label><br/><br/>
      <label>
        Data de nascimento:
          <input type="date" name="birthday" required/>
      </label><br/><br/>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
