<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Trabalho 2 - Laboratório de Programação VI</title>
  </head>
  <body>
    <h1>Agendar Partida</h1>
    <form method="POST" action="/match" id="center">
      <label>
        Data:
        <input type="date" name="birthday" required="true"/>
      </label><br/><br/>
      <label>
        Jogador 1:
        <select name="player1">
        </select>
      </label><br/><br/>
      <label>
        Jogador 2:
        <select name="player2">
        </select>
      </label><br/><br/>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
