<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<header>
    <% include partials/header.ejs %>
</header>
<h1>Agendar Partida</h1>
<form class="panel panel-body" method="POST" action="/matches">
    <label>
        Data:
        <input type="datetime-local" name="date" required/>
    </label><br/><br/>
    <label>
        Jogador 1:
        <select name="playerOneId" required>
            <%
            for(var i = 0;i < players.length;i++){
                var playerOne = players[i];
            %>
            <option value="<%= playerOne._id %>">
                <%= playerOne.firstname + " " + playerOne.lastname %>
            </option>
            <%
            }
            %>
        </select>
    </label><br/><br/>
    <label>
        Jogador 2:
        <select name="playerTwoId" required>
            <%
            for(var j = 0;j < players.length;j++){
                var playerTwo = players[j];
            %>
            <option value="<%= playerTwo._id %>">
                <%= playerTwo.firstname + " " + playerTwo.lastname %>
            </option>
            <%
            }
            %>
        </select>
    </label><br/><br/>
    <input type="submit" value="Agendar"/>
</form>
<footer>
    <% include partials/footer.ejs %>
</footer>
</body>
</html>
